.navbar {
    height: 7vh;
    background-color: #555677;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navContainer {
    width: 100%;
    max-width: 1024px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.logo {
    font-weight: 500;
}
.navButton {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    color: #F9F8F8;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 350ms ease; 
}
.navButton:hover {
    background-color: #37A3D2;
}